*.py[cod]

# remove virtual environments files
Lib/*
Scripts/*
pyvenv*

# Libraries that are installed through pip by the setup process
libs/*

# Ignore files
**/Muster9.0.14.11632.x64.linux.tar.gz
**/rez-main.zip
**/google-chrome-stable_current_x86_64.rpm
